.form-inline.text.center
  .form-group
    = f.input :ticket, class: 'form-control'
    = f.input :client, class: 'form-control'
  .form-group
    = link_to_remove_association('', f,
      { wrapper_class: 'form-inline', class: "fa fa-trash fa-lg"})
