.form-inline
  %tr
    .col-3
      %td= f.text_field :ticket, class: 'text-center'
    .col-3
      %td= f.text_field :client, class: 'text-center'
    .col-3
      %td= f.select :kind, @kinds
    .col-3
      %td= link_to_remove_association('', f,
        { wrapper_class: 'form-inline', class: "fa fa-trash fa-lg"})
%br
