.widget
  .date
    %p#weekendDay.weekendDay
    %p#day.day
    %p of
    %p#month.month
    %p of the
    %p#year.year

  .clock
    .box-hours
      %p#hours.hours
      %p :
      %p#minutes.minutes
      %p :
    .box-seconds
      .padding-0
        %p#ampm.ampm
      %p#seconds.seconds 
