.widget
  .clock
    .box-hours
      %div#hours.hours
      ":"
      %div#minutes.minutes
      ":"
      %div#seconds.seconds
    .box-seconds
      .padding-0
      %p#ampm.ampm

  .date
    %p#weekendDay.weekendDay
    %p#day.day
    %p of
    %p#month.month
    %p of the
    %p#year.year
