= render 'dialog'
.container.text-center
  .new-team#teams
    %tbody
      - if !@dreport.nil?
        = render 'dreport_close'
      - elsif !@team.nil?
        = render 'technician_team'
      - else
