= render 'dialog'
.container.text-center
  .widget
    .date
      %p#weekendDay.weekendDay
      %p#day.day
      %p of
      %p#month.month
      %p
      %p#year.year
  .new-team#teams
    %tbody
      - if !@dreport.nil?
        = render '/dreports/show'
      - elsif !@team.nil?
        = render 'technician_team'
      - else
