.container
  %h2.text-center Teams
  .card.card-block.bg-faded.text-center
    = link_to new_team_path, :remote => true do
      = fa_icon "plus-square-o", text: "NEW TEAM", right: true, class: "fa-lg"
  .new-claim
    %tbody
      = render @teams
= render 'dialog'
