<div class="cn-wrapper" id="cn-wrapper">
  <ul>

    <li :class => current_class?(profile_path)>
      <a href="/teams" >
        <i class="fa fa-plus" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="/teams/home_dir">
        <i class="fa fa-home" aria-hidden="true"></i>
      </a>
    </li>

    <li>
      <a href="/teams" >
        <i class="fa fa-users" aria-hidden="true"></i>
      </a>

    </li>

    <li>
      <a href="/events" >
        <i class="fa fa-calendar" aria-hidden="true"></i>
      </a>
    </li>


    <li>
      <a href="/users/sign_out" data-method="delete" >
        <i class="fa fa-power-off" aria-hidden="true"></i>
      </a>
    </li>

  </ul>
</div>
<div id="cn-overlay" class="cn-overlay"></div>
