#cn-wrapper.cn-wrapper
  %ul
    %li
      %a{"data-method" => "delete", :href => "/users/sign_out"}
        %i.fa.fa-power-off{:title =>"Sing out", "aria-hidden" => "true"}
    //%li{":class" => ""}
    //  current_class?(profile_path)&gt;
    //  %a{:href => "/teams/home_dir"}
    //    %i.fa.fa-line-chart{:title =>"Dashboard", "aria-hidden" => "true"}

    %li
      %a{"data-target" => "#myModal", "data-toggle" => "modal", :href => "#"}
        %i.fa.fa-search

    - if current_page?(dir_team_path)
      %li
        = link_to new_team_path, :remote => true do
          = fa_icon "users", class: "fa-lg", :title =>"New Team"
    - else
      %li
        %a{:href => "/teams/home_dir"}
          %i.fa.fa-home{:title =>"Home", "aria-hidden" => "true"}

    %li
      %a{:href => "/events"}
        %i.fa.fa-calendar{:title =>"Calendar", "aria-hidden" => "true"}
    %li
      = link_to edit_profile_path, :remote => true do
        = fa_icon "user", class: "fa-lg", :title =>"Profile"
#cn-overlay.cn-overlay
/ Modal
#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &#215;
        %h4#myModalLabel.modal-title Modal title
      .modal-body
        %div{:role => "tabpanel"}
          / Nav tabs
          %ul.nav.nav-tabs{:role => "tablist"}
            %li.active{:role => "presentation"}
              %a{"aria-controls" => "uploadTab", "data-toggle" => "tab", :href => "#uploadTab", :role => "tab"} Upload
            %li{:role => "presentation"}
              %a{"aria-controls" => "browseTab", "data-toggle" => "tab", :href => "#browseTab", :role => "tab"} Browse
          / Tab panes
          .tab-content
            #uploadTab.tab-pane.active{:role => "tabpanel"} upload Tab
            #browseTab.tab-pane{:role => "tabpanel"} browseTab
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        %button.btn.btn-primary.save{:type => "button"} Save changes
