.card-group.card-dreport
  .card.border-info
    .card-header.text-center= "#{dreport.users.first.email}"
    .card-body.text-center
      .card-group
        .card.border-info
          .card-header
            %table
              %td.align-middle Cliente
              %td.align-middle Estado
              %td.align-middle Tipo
          .card-body.p-0
            %table
              %td.align-middle "382577"
              %td.align-middle finalizado
              %td.align-middle Reclamo
          .card-header Observacion
          .card-body.p-0
            %p Reclamo finalizado
        .card-group
          .card.border-info
            .card-header Aca irian los rabajos
            .card-body.p-0
              %p Lorem ipsum...
    .card-header News
    .card-body.p-0
      %p Lorem ipsum...
