%tr.row.m-0.item
  %td.d-inline-block.col-6= f.select :item, @items
  %td.d-inline-block.col-3= f.number_field :quantity, class: 'form-control'
  %td.d-inline-block.col-2#trash_materials= link_to_remove_association('', f,
    { wrapper_class: 'item', class: "fa fa-trash fa-lg .btn.btn-outline-danger"})
