.form-inline.justify-content-center
  .form-group
    = f.select :point, @points
    = f.input :log, class: 'form-control'
  .form-group
    = link_to_remove_association('', f,
      { wrapper_class: 'form-inline', class: "fa fa-trash fa-lg"})
  %br
