<div class="container">

  <h2>Claims</h2>
  <div class="card card-block bg-faded">
    <%= link_to "New Claim", new_claim_path, remote: true, class: "btn btn-primary" %>
  </div>
  <div class="new-claim"></div>

  <table id class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Ticket</th>
      <th>Client</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody id="claims">
    <%= render @claims %>
    </tbody>
  </table>

  <%= render 'dialog' %>

</div>
