/*
 *= require_tree .
 *= require_self
 *= require select2
 */
 @import "calendar";
 @import "font-awesome";

  a:visited, a:link, a:active
 {
   text-decoration: none;
 }
 a{
   color: black;
 }
a:hover{ border-bottom: thin solid;
     color: rgb(0,0,192);
     font-weight: bolder;
     text-decoration: none;
 }
