/*
 *= require_tree .
 *= require_self
 */
 @import "calendar";
 @import "select2";
 @import "font-awesome";
 @import "bootstrap";
 @import 'bootstrap-custom';

 a:hover, a:visited, a:link, a:active
 {
   text-decoration: none;
 }
 a{
   color: black;
 }
