.fa-edit {
  color: #DFD502 ;
}
.fa-trash {
  color: #E02F45;
}

.panel-group{
  margin-bottom: 5%;
}

table.table-striped{
  margin-bottom: 0px;
}

#teams{
  margin-top: 5%;
}

#trash_materials{
  padding-left: 50px;
}
#trash_measures{
  padding-right: 20px;
  padding-left: 0px;
}

//////////// SELECT2 ///////////////////////
li#select2-claim_job_ids-result-2doe-1 {
    background-color: #343a40;
}

ul#select2-claim_job_ids-results {
    background-color: black;
}

span.select2-dropdown.select2-dropdown--above {
    margin-left: -20px;
}

span.select2-container.select2-container--default.select2-container--open {
    left: 18px !important;
    position: relative;
    right: 0px !important;
}

span.select2-results {
    width: 160%;
}

///////////// button /////////////////////
.form-inline.justify-content-center .float-right {
    margin: 5px;
}
