.fa-edit {
  color: #DFD502 ;
}
.fa-trash {
  color: #E02F45;
}

.panel-group{
  margin-bottom: 5%;
}

table.table-striped{
  margin-bottom: 0px;
}

#teams{
  margin-top: 5%;
}

#trash_materials{
  padding-left: 50px;
}
#trash_measures{
  padding-right: 20px;
  padding-left: 0px;
}



///////////// button /////////////////////
.form-inline.justify-content-center .float-right {
    margin: 5px;
}
