.fa-plus-square-o {
  color: black;
}
.fa-edit {
  color: #DFD502 ;
}
.fa-trash {
  color: #E02F45;
}

.panel-group{
  margin-bottom: 5%;
}

table.table-striped{
  margin-bottom: 0px;
}

#teams{
  margin-top: 5%;
}
