// File: app/assets/stylesheets/custom.scss
@import "bootstrap";
@media (min-width: 992px) {
  .navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: 1.5rem;
  }
}

@mixin border1 {
  border: 0px solid rgba(86, 61, 124, .2);
}

.row,
.row>.col,
.row>[class^=col-] {
  @include border1;
}

h1 {
  padding-top: 2em;
}

h2 {
  padding-top: 1em;
}

.bd-example-row-flex-cols .row {
  min-height: 5rem;
}

@mixin hightlight {
  @extend .bg-success;
  @extend .text-white;
}

th {
  @include hightlight;
}

.scroll-x {
  overflow-x: scroll;
}

@mixin fixed-x {
  position: sticky;
  width: 2em;
  @include hightlight;
}

.fixed-x0 {
  @include fixed-x;
  left: 0;
}

.fixed-x1 {
  @include fixed-x;
  left: 2em;
}

div.scroll-example {
  @extend .scroll-x;
  height: 30em;
}
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/jumbotron";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
@import "bootstrap/carousel";
@import "bootstrap/utilities";
@import "bootstrap/print";
