.card-group.card-dreport {
    margin-left: -9%;
    margin-bottom: 5px;
    margin-right: 10%;
    float: left;
    width: 49%;
}


.card-header.card-information-basic {
    width: 70%;
    float: left;
    margin-left: -10px;
}

.card-container.card-observation {
    margin-left: -10px;
    float: left;
    width: 70%;
}

.card-container.card-jobs.card-jobs {
    width: 30%;
    float: left;
}
.card-container.card-jobs.card-jobs .card-header {
    height: 200%;
}
