.div-action {
  float: left;
  margin-right: 5px;
}
.div-historial {
  float: left;
}

td.td-action {
  width: 130px;
  padding: 0px;
  padding-top: 5.5px;
}

i.fa-lg.btn.btn-outline-info {
    color: white;
}

.div-action .btn-outline-info {
    margin-left: 5px;
}

///////////// LOAD TICKET /////////////////

a.nav-item.nav-link.active.show {
    background-color: rgba(5, 144, 99, 0.52) !important;
    color: white;

}

a.nav-item.nav-link {
    color: white;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: rgba(5, 144, 99, 0.52) !important;
}

//////////// END SHIFT ////////////////////
.end-shift {
    width: 100%;
}
