@import url(http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css);

nav.navbar.navbar-expand-sm.bg-dark.navbar-dark {
    display: none;
}

.cn-wrapper {
  box-shadow: inset -5px 23px 42px -21px #b8c7c7;
  background-color: rgba(10, 10, 10, 0.85);
  bottom: 34em;
  font-size: 1em;
  width: 16em;
  height: 16em;
  overflow: hidden;
  position: fixed;
  z-index: 10;
  left: 102%;
  border-radius: 50%;
  margin-left: -12em;
  pointer-events: auto;
  -webkit-transform: rotate(-90deg) skew(0deg);
}


* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative
}

ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

.cn-wrapper li {
  left: 50%;
  top: 50%;
  margin-top: -1.3em;
  margin-left: -10em;
  overflow: hidden;
  position: absolute;
  font-size: 1.5em;
  width: 10em;
  height: 7em;
  overflow: hidden;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  color: #aaa;
}



.csstransforms .cn-wrapper li a span {
  font-size: 1.1em;
  opacity: 0.7;
}

.cn-wrapper li a {
  color: rgba(255, 255, 255, 0.75);
  transform: skew(-50deg) rotate(-70deg) scale(1);
  border-radius: 50%;
  text-align: center;
  padding-top: 2.5em;
  display: block;
  font-size: 1.2em;
  height: 13.5em;
  width: 13.5em;
  position: absolute;
  bottom: -6.75em;
  right: -6.75em;
  text-decoration: none;
}
a {
    text-decoration: none;
}


/* for a central angle x, the list items must be skewed by 90-x degrees
in our case x=40deg so skew angle is 50deg
items should be rotated by x, minus (sum of angles - 180)2s (for this demo) */

.cn-wrapper li:first-child {
  -webkit-transform: rotate(-10deg) skew(50deg);
  -ms-transform: rotate(-10deg) skew(50deg);
  -moz-transform: rotate(-10deg) skew(50deg);
  transform: rotate(-10deg) skew(50deg);
}

.cn-wrapper li:nth-child(2) {
  -webkit-transform: rotate(30deg) skew(50deg);
  -ms-transform: rotate(30deg) skew(50deg);
  -moz-transform: rotate(30deg) skew(50deg);
  transform: rotate(30deg) skew(50deg);
}

.cn-wrapper li:nth-child(3) {
  -webkit-transform: rotate(70deg) skew(50deg);
  -ms-transform: rotate(70deg) skew(50deg);
  -moz-transform: rotate(70deg) skew(50deg);
  transform: rotate(70deg) skew(50deg)
}

.cn-wrapper li:nth-child(4) {
  -webkit-transform: rotate(110deg) skew(50deg);
  -ms-transform: rotate(110deg) skew(50deg);
  -moz-transform: rotate(110deg) skew(50deg);
  transform: rotate(110deg) skew(50deg);
}

.cn-wrapper li:nth-child(5) {
  -webkit-transform: rotate(150deg) skew(50deg);
  -ms-transform: rotate(150deg) skew(50deg);
  -moz-transform: rotate(150deg) skew(50deg);
  transform: rotate(150deg) skew(50deg);
}

.cn-wrapper li:hover{
  background-color: rgba(166, 171, 173, 0.25);
}
.csstransforms .cn-wrapper li:nth-child(odd) a {
}

.csstransforms .cn-wrapper li:nth-child(even) a {
  background-color: rgba(166, 171, 173, 0.25);
}

/* active style */
.csstransforms .cn-wrapper li.active a {
  background-color: gba(50, 214, 47, 0.93);
}


/* hover style */
.csstransforms .cn-wrapper li:not(.active) a:hover,
.csstransforms .cn-wrapper li:not(.active) a:active,
.csstransforms .cn-wrapper li:not(.active) a:focus {
  background-color: rgba(148, 128, 128, 0);
  //background-color: hsla(0, 88%, 70%, 1);
}
.csstransforms .cn-wrapper li:not(.active) a:focus
{
    position:fixed;
}



/* fallback */
.no-csstransforms .cn-button {
  display: none;
}

.no-csstransforms .cn-wrapper li {
  position: static;
  float: left;
  font-size: 1em;
  height: 5em;
  width: 5em;
  background-color: #eee;
  text-align: center;
  line-height: 5em;
}

.no-csstransforms .cn-wrapper li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  font-size: 1.3em;
  border-right: 1px solid #ddd;
}

.no-csstransforms .cn-wrapper li a:last-child {
  border: none;
}

.no-csstransforms .cn-wrapper li a:hover,
.no-csstransforms .cn-wrapper li a:active,
.no-csstransforms .cn-wrapper li a:focus {
  background-color: white;
}

.no-csstransforms .cn-wrapper li.active a {
  background-color: #6F325C;
  color: #fff;
}


@media screen and (max-width:480px) {
  .csstransforms .cn-wrapper {
    font-size: .68em;
  }

  .cn-button {
    font-size: 1em;
  }

  .csstransforms .cn-wrapper li {
    font-size: 1.52em;
  }
}

@media screen and (max-width:320px) {
  .no-csstransforms .cn-wrapper {
    width: 15.15px;
    margin-left: -7.5em;
  }

  .no-csstransforms .cn-wrapper li {
    height: 3em;
    width: 3em;
  }
}

