@media (min-width: 700px) {
  body.container-fluid {
    background-image: url("fondo_1366x768.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
  }

  .container.text-center {
    left: -4em !important;
  }
}

@media (min-width: 400px) and (max-width: 700px) {

  h4 {
    display: none;
  }
  .card-header.bg-info {
    display: none;
  }


}

@media (max-width: 400px) {

  .card-header.bg-info {
    display: none;
  }


  #teams {
    left: -10%;
    width: 115%;
  }

  body.container-fluid {
    margin-left: 20px !important ;
  }

}

@media (max-width: 585px){
    body.container-fluid {
      background-image: url("https://i1.wp.com/s-media-cache-ak0.pinimg.com/originals/83/f4/8d/83f48d3a93c8d73c593d66428992e173.jpg?resize=618%2C1099&ssl=1");
      background-size: 110%;
      background-attachment: fixed;
    }


  main {
    width: 100% !important ;
    position: relative !important ;
    padding: 0px !important ;
    margin: 0px !important ;
  }

  body.container-fluid {
    margin: 7px !important ;
  }

  th.th-ticket {
    display: none;
  }
  td.th-ticket {
    display: none;
  }

  //////////// SELECT2 ///////////////////////
  li#select2-claim_job_ids-result-2doe-1 {
      background-color: #343a40;
  }

  ul#select2-claim_job_ids-results {
      background-color: black;
  }

  span.select2-dropdown.select2-dropdown--above {
      margin-left: -20px;
  }

  span.select2-container.select2-container--default.select2-container--open {
      left: 18px !important;
      position: relative;
      right: 0px !important;
  }

  span.select2-results {
      width: 160%;
  }

  ///////////// MODALS ////////////////////////
  // aumenta el tama;o del modal
  .modal-dialog {
    position: absolute;
    width: auto;
    margin: 0.2rem;
  }

  // modal background confirm
  .modal.false.fade.show {
      padding: 10%;
      background-color: rgba(5, 47, 49, 0.62);
  }

  // Container dreport show
  .container.text-center.container-dreport-show {
    left: -20px;
    width: 114%;
  }

  ////////////// CALENDAR ///////////////////////
  .div-cloce-calendar{
    display: none;
  }

  .fc-scroller.fc-day-grid-container {
    height: 100% !important;
  }

  ///////////// History /////////////////////
  .container.text-center.container-history {
    width: 102%;
    margin: 0px;
    padding: 0px;
    left: -10px;
  }

}


.card-body {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 5px;
}
