@media (min-width: 700px) {
  body.container-fluid {
    background-image: url("fondo_1366x768.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
  }
}
@media (min-width: 400px) and (max-width: 700px) {
  body.container-fluid {
    background-image: url("fondo_1366x768.jpg");
    background-size: 100% 250% ;
  }
  h4 {
    display: none;
  }
  .card-header.bg-info {
    display: none;
  }
}

@media (max-width: 400px) {

  body.container-fluid {
    background-image: url("fondo_564×317.jpg");
    background-size: 200% 220%;
    background-position-x: -25px;
  }

  .card-header.bg-info {
    display: none;
  }


  #teams {
    left: -10%;
    width: 115%;
  }

}
